<section class="landlord">
   <div class="landlordName">
      <span>{{company_name}}</span>
   </div>
   <div class="rating large star-icon direction-ltr value-4 label-top">
      <div class="label-value">53 Reviews</div>
      <div class="star-container">
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
         <div class="star">
            <i class="star-empty"></i>
            <i class="star-half"></i>
            <i class="star-filled"></i>
         </div>
      </div>
   </div>
   <div class="landlordInfo">
      {{first_name}} 
      {{last_name}} 
      {{contact_info}}
   </div>
</section>