<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Rate my Rental </title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@200&family=Cabin+Sketch&family=Permanent+Marker&family=Londrina+Shadow&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   <link rel="stylesheet" href="/stylesheets/styles.css">
   <link rel="stylesheet" href="/stylesheets/menu.css">
   <link rel="stylesheet" href="/stylesheets/star-rating.css">
</head>

<body>
   <!-- End of Intro Loading Screen -->
   <main>
         <nav>
            <!-- Hamburger Menu -->
            <div class="menu-wrap">
               <input type="checkbox" class="toggler">
               <div class="hamburger">
                  <div></div>
               </div>
               <div class="menu">
                  <div>
                     <div>
                        <ul>
                           {{!-- {{#if loggedIn}} --}}
                           <li> <a href="/" id="logout">Logout</a></li>
                           {{!-- {{else}} --}}
                           <li> <a href="/login">Tenant Login</a></li>
                           <li> <a href="/">Home</a></li>
                           <li> <a href="#">Contact</a></li>
                           {{!-- {{/if}} --}}
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </nav>
      {{{body}}}
   </main>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"
      integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script type="text/javascript" src="/javascript/script.js"></script>
   <script src="/javascript/search-prop.js"></script>

   {{!-- {{#if loggedIn}} --}}
   <script src="/javascript/logout.js"></script>
   {{!-- {{/if}} --}}
   
   <script src="/javascript/search-landlord.js"></script>
</body>

</html>