<div class="intro">
   <div class="intro-text">
      <h1 class="hide">
         <span class="text">Welcome to </span>
      </h1>
      <h1 class="hide">
         <span class="text">our communtiy of </span>
      </h1>
      <h1 class="hide">
         <span class="text">Renters!</span><span class="text intro-detail">...</span>
      </h1>
   </div>
</div>
<div class="slider"></div>
<section class="landing">
   <section>
      <div class="container-fluid search">
         <div class="row">
            <div class="col">
               <button class="button1 propBtn">Search Properties</button>
            </div>
            <div class="col">
               <button class="button1 landlordBtn" id="landlordBtn">Search Landlords</button>
            </div>
         </div>
      </div>
   </section>
   <div class="container">
      <div class="row">
         <div class="col">
            <h2 class="big-text">Rate my Rental</h2>
         </div>
      </div>
   </div>
</section>
