{{#if posts.length}}
<section>
   <h2>Your Properties</h2>
   <ol>
      {{#each posts as |post|}}
      <li>
         {{> post-info post}}
         <a href="/dashboard/edit/{{post.id}}" class="edit-link">Reply to post</a>
      </li>
      {{/each}}
   </ol>
</section>
{{/if}}