<form class="search-button">
   <input type="text" placeholder="Property Manager Name" name="search">
   <button class="landlordSearchBtn" type="submit">Search</button>
</form>

<section>
   <ol>
      {{#each landlords}}
      <li>
         {{> management-info}}
         {{!-- {{MOST RECENT COMMENT}} --}}
         {{> comment}}
      </li>
      {{/each}}
   </ol>
</section>