/* .modal-button2{
    display: flex;
    flex-wrap: wrap;
    background-color:var(--main-color);
    justify-content: center;
    box-sizing:border-box;
    font-family:"Orbitron";
    font-size: 2vh;
    letter-spacing: 10px;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px 25px;
    width: 300px;
    margin-left: 200px;
}
.modal-container2 {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
.modal-container2.show {
    pointer-events: auto;
    opacity: 1;
}
.modal2 {
    background-color: white;
    border-radius: 15px;
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}
.modal2 h1 {
    color:rgb(180, 43, 43);
    font-family: "Permanent Marker";
}
.modal2 p {
    font-family: "Orbitron";
    font-size: 2vh;
    font-weight: bold;
} */